{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="row">
        <div class="col-12 col-md-10">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">
                This webapplication has been developed by a young and ambitious student Applied Informatics
                from Ghent. Although some of this application's features are also provided by Spotify's application,
                you can find some interesting and even handy features about your very own 'Spotify Footprint' below!
            </p>
            <hr class="my-4" />
            <p class="lead"><em><small>Note: this web application can be used on both mobile and pc environment, although pc is recommended due to high usage of tables</small></em></p>
            <p class="lead"><small>Want to give it a go?</small></p>
            <p>
                <a class="btn" href="{{ url_for("login") }}">Get started</a>
            </p>
        </div>
    </div>
</div>
<div class="container content-block">
    <div class="row">
        <div class="col-12">
            <h1><i class="gg-play-track-next"></i>Features</h1>
            <hr class="my-4" />
        </div>
    </div>
    <!-- FIRST ROW -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-index mb-3 mr-3">
                <img src="{{ url_for("static", filename="images/playlist.jpg") }}" class="card-img-top" alt="playlist" />
                <h4 class="card-title">Profile Overview</h4>
                <p class="card-text">
                    Get a nice overview of your Spotify Profile, eg. your followers, followed artists, saved playlists, saved tracks, recently played tracks...
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-index mb-3 mr-3">
                <img src="{{ url_for("static", filename="images/binoculars.jpg") }}" class="card-img-top" alt="binoculars" />
                <h4 class="card-title">Spotify Footprint</h4>
                <p class="card-text">
                    Always wanted to know what your Top Tracks, Top Artists and Top Genres are?
                    This feature will give you access to all 3, ranging from short term (4 weeks) to long term (all time)!
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-index mb-3 mr-3">
                <img src="{{ url_for("static", filename="images/analytics2.jpg") }}" class="card-img-top" alt="analytics" />
                <h4 class="card-title">Analytics</h4>
                <p class="card-text">
                    This will give you access to both Track Analytics (for a single track) and Playlist Analytics (for one of your saved playlists).
                    Get deeper insight in a track or playlist's combined audio features like danceability, instrumentalness, liveness, tempo and loudness.
                </p>
            </div>
        </div>

        <!-- SECOND ROW -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-index mb-3 mr-3">
                <img src="{{ url_for("static", filename="images/party.jpg") }}" class="card-img-top" alt="party" />
                <h4 class="card-title">Party Planner</h4>
                <p class="card-text">
                    Create a unique playlist which will suit every party guest by combining your guests' top artists' top tracks,
                    all this in just a few clicks.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-index mb-3 mr-3">
                <img src="{{ url_for("static", filename="images/running2.png") }}" class="card-img-top" alt="running" />
                <h4 class="card-title">Running Tool</h4>
                <p class="card-text">
                    Struggling to find a playlist which perfectly suits your running tempo?
                    This tool will create a playlist which consists of songs of roughly the same beats per minute (bpm) in your preferred genre (COMING SOON!)
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-index mb-3 mr-3">
                <img src="{{ url_for("static", filename="images/lightbulb.jpg") }}" class="card-img-top" alt="lightbulb" />
                <h4 class="card-title">Your own feature?</h4>
                <p class="card-text">
                    Got a great idea you've always wanted to put into practice, or some feature you wished some developer at Spotify would build?
                    Get in touch by clicking the 'Contact' button and hopefully we'll speak to eachother soon to combine our forces!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}