{% extends "layout.html" %}

{% block title %}
    Party Planner
{% endblock %}

{% block main %}
<div class="container content-block">
    <div class="row">
        <div class="col-12">
            <h1><i class="gg-disc"></i>Party Planner <span class="btn btn-sm" data-toggle="collapse" href="#partyplanner-usage" role="button" aria-expanded="false" aria-controls="collapseExample">
    How to Use?</span></h1>       
            <hr class="my-4" />
        </div>
    </div>
    <!-- USAGE CONTAINER -->
    <div class="row d-flex justify-content-center">
        <div class="col-12">   
            <div class="collapse" id="partyplanner-usage">
                <ol>
                    <li>Collect your own or your party guests's favorite artists</li>
                    <li>
                        Add the artists to 'Your Selected Artists' by:
                        <ol>
                            <li>entering the artist's name and clicking the 'Search' button</li>
                            <li>looking for the right artist in the search results</li>
                            <li>clicking on the artist to add him/her to your list</li>
                        </ol>
                    </li>
                    <li>
                        Repeat Step 2 until you've added all the required artists
                        <ol>
                            <li>Clicked on the wrong artist? Simply click on an artist in the 'Your Selected Artists' field to remove him/her from the selection.</li>
                        </ol>
                    </li>
                    <li>
                        Click the 'Generate Party Playlist' button to generate your unique party playlist. This will give you an overview of the playlist's content and it's audio features.
                    </li>
                    <li>
                        If you're satisfied with the playlist, simply enter a name and description (optional) for your playlist and click the 'Create Playlist in Spotify' button. This will automatically add your unique playlist to your Spotify account.
                    </li>
                    <li>Enjoy the party to the fullest ;) &#x1F389</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- SEARCH CONTAINER -->
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-row">
                        <input type="text" class="form-control w-100" id="artist-name" placeholder="Enter an artist name">
                        <button type="button" class="btn btn-sm mt-2 w-100" id="artist-search">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ALERT CONTAINER -->
<div class="container my-2">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="alert-message"></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!-- SELECTED ARTISTS CONTAINER -->
<div class="container content-block" id="selected-artists-grid">
    <div class="row">
        <div class="col-12">
            <h5><i class="gg-vinyl"></i>Your Selected Artists:</h5>
            <hr class="my-3" />
            <div class="row row-cols-2 row-cols-md-5 artist-cards" id="artist-selection">
                <div class="col" id="selected-placeholder">None</div>
            </div>
            <button type="button" class="btn btn-sm mt-2 w-100 hidden" id="generate-playlist">Generate Party Playlist</button>
        </div>
    </div>
</div>
<!-- SEARCH RESULTS CONTAINER -->
<div class="container-fluid content-block hidden pb-4 pr-1" id="search-results-grid">
    <h5 id="search-results-info"></h5>
    <hr class="my-3" />
    <div class="row row-cols-2 row-cols-md-5 artist-cards" id="imagerow">

    </div>
</div>
<!-- PLAYLIST GENERATION CONTAINER -->
<div class="container-fluid content-block hidden pb-4" id="partyplanner-overview">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h4><i class="gg-play-list"></i>Your Party Playlist</h4>
            <hr class="my-3" />
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <button type="button" class="btn mb-3" id="create-playlist">Create Playlist in Spotify</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8">
            <input type="text" class="form-control mb-2" id="playlist-name" placeholder="Enter a name for your playlist">
            <input type="text" class="form-control mb-3" id="playlist-description" placeholder="Enter a description (optional)">
        </div>
    </div>
    <!-- PLAYLIST CREATION CONTAINER -->
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10">
            <ul class="nav nav-tabs justify-content-around" role="tablist">
                <li class="nav-item w-50" role="presentation">
                    <a class="nav-link active" id="playlist-tab" data-toggle="tab" href="#playlist-tab-content" role="tab" aria-controls="playlist-tab-content" aria-selected="true"><i class="gg-layout-list"></i>Playlist Overview</a>
                </li>
                <li class="nav-item w-50" role="presentation">
                    <a class="nav-link" id="features-tab" data-toggle="tab" href="#features-tab-content" role="tab" aria-controls="features-tab-content" aria-selected="false"><i class="gg-play-button-o"></i>Audio Features</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10">
            <div class="tab-content">
                <div class="tab-pane fade show active mt-2" id="playlist-tab-content" role="tabpanel" aria-labelledby="playlist-tab">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="text-center align-middle">Song Name</th>
                                    <th scope="col" class="text-center align-middle">Artist</th>
                                    <th scope="col" class="text-center">Duration (minutes)</th>
                                    <th scope="col" class="text-center">
                                        Popularity<i class="gg-info" data-toggle="tooltip" data-placement="top" title="The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are."></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="partyplanner-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade mt-2" id="features-tab-content" role="tabpanel" aria-labelledby="features-tab">
                    <div id="partyplanner-info">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
