{% extends "layout.html" %}

{% block title %}
{% if name %}
{{ name }}
{% else %}
My Playlists
{% endif %}
{% endblock %}
{% block main %}
{% if all_playlists %}
<div class="container content-block">
    <div class="row">
        <div class="col-12">
            <h1><i class="gg-list"></i>Overview of your playlists</h1>
            <hr class="my-4" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover datatable-overview bg-white">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">
                                Playlist Analytics<i class="gg-info" data-toggle="tooltip" data-placement="top" title="Loading may take a few seconds, depending on magnitude of the playlist."></i>
                            </th>
                            <th scope="col" class="text-center align-middle">Playlist Image</th>
                            <th scope="col" class="text-center align-middle">#</th>
                            <th scope="col" class="text-center align-middle">Name</th>
                            <th scope="col" class="text-center">Owner</th>
                            <th scope="col" class="text-center">Total tracks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set counter = namespace(value=1) %}
                        {% for item in all_playlists %}
                        {% for playlist in item %}
                        <tr>
                            <td class="text-center align-middle">
                                <a href="{{ url_for("playlist_analytics", playlist_id=playlist.id) }}" class="btn btn-sm track-analytics-button">View <svg height="20" viewBox="0 0 21 21" width="20" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#1db954" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3)"><path d="m.5.5v12c0 1.1045695.8954305 2 2 2h11.5" /><path d="m3.5 8.5v3" /><path d="m7.5 5.5v6" /><path d="m11.5 2.5v9" /></g></svg></a>
                            </td>
                            <td class="text-center align-middle"><img class="rounded" src="{{ playlist.images[0].url if playlist.images[0] else 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png' }}" width="50" alt="Playlist image" /></td>
                            <td class="text-center align-middle">{{ counter.value }}</td>
                            <td class="text-center align-middle font-weight-bold">
                                <a class="text-reset" href="{{ url_for("playlist_items", playlist_id=playlist.id) }}">
                                    {{ playlist.name }}<i class="gg-arrow-top-right-r"></i>
                                </a>
                            </td>
                            <td class="text-center align-middle"><a class="text-reset" data-toggle="tooltip" data-placement="top" title="Open user's profile in new tab" href="{{ playlist.owner.external_urls.spotify }}" target="_blank">{{ playlist.owner.display_name }}</a></td>
                            <td class="text-center align-middle">{{ playlist.tracks.total }}</td>
                        </tr>
                        {% set counter.value = counter.value + 1 %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% elif playlist %}
<div class="container content-block">
    <div class="row">
        <div class="col-12">
            <h1><i class="gg-list"></i>Playlist: {{ name }}</h1>
            <hr class="my-4" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover bg-white datatable-overview">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col" class="text-center">Track Analytics</th>
                            <th scope="col">#</th>
                            <th scope="col" class="text-center align-middle">Song Name</th>
                            <th scope="col" class="text-center align-middle">Artist</th>
                            <th scope="col" class="text-center">Explicit</th>
                            <th scope="col" class="text-center">Duration (minutes)</th>
                            <th class="text-center" scope="col">
                                Popularity<i class="gg-info" data-toggle="tooltip" data-placement="top" title="The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are."></i>
                            </th>
                            <th scope="col" class="text-center">Added at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set counter = namespace(value=1) %}
                        {% for item in playlist %}
                        {% for track in item %}
                        <tr>
                            <td class="text-center align-middle">
                                <a href="{{ url_for("track_analytics", track_id=track.track.id) }}" class="btn btn-sm track-analytics-button">View <svg height="20" viewBox="0 0 21 21" width="20" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#1db954" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3)"><path d="m.5.5v12c0 1.1045695.8954305 2 2 2h11.5" /><path d="m3.5 8.5v3" /><path d="m7.5 5.5v6" /><path d="m11.5 2.5v9" /></g></svg></a>
                            </td>
                            <td class="align-middle">{{ counter.value }}</td>
                            <td class="text-center align-middle">{{ track.track.name }}</td>
                            <td class="text-center align-middle">{{ track.track.artists[0].name }}</td>
                            <td class="text-center align-middle">
                                {% if track.track.explicit %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">{{ track.track.duration_ms|minutes }}</td>
                            <td class="text-center align-middle">{{ track.track.popularity }}</td>
                            <td class="text-center align-middle">{{ track.added_at|datetimeformat }}</td>
                        </tr>
                        {% set counter.value = counter.value + 1 %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
