{% extends "layout.html" %}

{% block title %}
Your Spotify Statistics
{% endblock %}

{% block main %}
<div class="container content-block pb-2">
    <div class="row">
        <div class="col-12">
            <h1><i class="gg-chart"></i>Your Spotify Statistics</h1>
            <hr class="my-4" />
        </div>
    </div>
    <!-- STATISTICS CARDS -->
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4"  style="z-index: 2;">
            <div class="card text-center mb-3">
                <img src="{{ url_for("static", filename="images/tracks.jpg") }}" class="card-img-top" alt="cassette" />
                <div class="card-body">
                    <h4 class="card-title">My Top Tracks</h4>
                    <p class="card-text">
                        The tracks during which you just couldn't resist to not press the 'Back to start' button or wish add an 'Eternal Repeat' button.
                    </p>
                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose time range
                    </button>
                    <div class="dropdown-menu dropdown-menu-right statistics">
                        <button class="dropdown-item" type="button" name="tracks" value="short_term">Short term (4 weeks)</button>
                        <button class="dropdown-item" type="button" name="tracks" value="medium_term">Medium term (6 months)</button>
                        <button class="dropdown-item" type="button" name="tracks" value="long_term">Long term (All time)</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" style="z-index: 1;">
            <div class="card text-center mb-3" >
                <img src="{{ url_for("static", filename="images/artists.jpg") }}" class="card-img-top" alt="music artist" />
                <div class="card-body">
                    <h4 class="card-title">My Top Artists</h4>
                    <p class="card-text">
                        The artists you're most likely stalking on Instagram, Twitter and Facebook and you're booking a ticket for in the post-Corona era. 
                    </p>
                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose time range
                    </button>
                    <div class="dropdown-menu dropdown-menu-right statistics">
                        <button class="dropdown-item" type="button" name="artists" value="short_term">Short term (4 weeks)</button>
                        <button class="dropdown-item" type="button" name="artists" value="medium_term">Medium term (6 months)</button>
                        <button class="dropdown-item" type="button" name="artists" value="long_term">Long term (All time)</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center mb-3">
                <img src="{{ url_for("static", filename="images/genres.jpg") }}" class="card-img-top" alt="vinyl records" />
                <div class="card-body">
                    <h4 class="card-title">My Top Genres</h4>
                    <p class="card-text">
                        Based on your Top Artists, this will give you a statistically correct answer to the question "So, what kind of music are you listening to?".
                    </p>
                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose time range
                    </button>
                    <div class="dropdown-menu dropdown-menu-top statistics">
                        <button class="dropdown-item" type="button" name="genres" value="short_term">Short term (4 weeks)</button>
                        <button class="dropdown-item" type="button" name="genres" value="medium_term">Medium term (6 months)</button>
                        <button class="dropdown-item" type="button" name="genres" value="long_term">Long term (All time)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- STATISTICS RESULTS CONTAINER -->
<div class="container content-block hidden" id="statistics-overview">
    <div class="row">
        <div class="col-12">
            <h1 id="statistics-type"><i class="gg-music-note"></i></h1>
            <hr class="my-4" />
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10">
            <div class="table-responsive fixed-table-body">
                <table class="table table-striped bg-white">
                    <thead class="bg-dark text-white" id="statistics-table-head">

                    </thead>
                    <tbody id="statistics-table-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>
<!-- TOP ARTISTS -->
{% if top_artists %}
<div class="container content-block">
    <div class="row">
        <div class="col-12">
            <h1><i class="gg-music-note"></i>Top Artists: {{ time_range|capitalize|replace("_", " ") }}</h1>
            <hr class="my-4" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-responsive datatable-overview bg-white">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Artist Image</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">
                            Popularity<i class="gg-info" data-toggle="tooltip" data-placement="top" title="The artist’s popularity is calculated from the popularity of all the artist’s tracks."></i>                        </th>
                        <th scope="col" class="text-center">Genre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artist in top_artists %}
                    <tr>
                        <td class="align-middle">{{ loop.index }}</td>
                        <td class="text-center align-middle"><img class="rounded align-middle" src="{{ artist.images[0].url }}" width="50" alt="artist image" /></td>
                        <td class="text-center align-middle">{{ artist.name }}</td>
                        <td class="text-center align-middle">{{ artist.popularity }}</td>
                        <td class="text-center align-middle">
                            {% for genre in artist.genres %}
                            {% if not loop.last %}
                            {{ "%s, " % (genre) }}
                            {% else %}
                            {{ genre }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
<!-- TOP GENRES -->
{% if top_genres %}
<div class="container content-block">
    <div class="row">
        <div class="col-12">
            <h1>
                <i class="gg-music-note"></i>Top 10 Genres: {{ time_range|capitalize|replace("_", " ") }} <i class="gg-info" data-toggle="tooltip" data-placement="top" title="Based on your Top Artists"></i>
            </h1>
            <hr class="my-4" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <table class="table table-sm table-hover bg-white">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Genre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(10) %}
                    <tr>
                        <td class="align-middle">{{ loop.index }}</td>
                        <td class="align-middle text-center">{{ top_genres[i][0]|capitalize }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
<!-- TOP TRACKS -->
{% if top_tracks %}
<div class="container content-block">
    <div class="row">
        <div class="col-12">
            <h1><i class="gg-music-note"></i>Top Tracks: {{ time_range|capitalize|replace("_", " ") }}</h1>
            <hr class="my-4" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <table class="table table-hover table-responsive datatable-overview bg-white">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Album Image</th>
                        <th scope="col" class="text-center">Song name</th>
                        <th scope="col" class="text-center">Artist</th>
                        <th scope="col" class="text-center">
                            Popularity<i class="gg-info" data-toggle="tooltip" data-placement="top" title="The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are."></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in top_tracks %}
                    <tr>
                        <td class="align-middle">{{ loop.index }}</td>
                        <td class="text-center align-middle"><img class="rounded align-middle" src="{{ track.album.images[0].url }}" width="50" alt="album image" /></td>
                        <td class="text-center align-middle">{{ track.name }}</td>
                        <td class="text-center align-middle">{{ track.artists[0].name }}</td>
                        <td class="text-center align-middle">{{ track.popularity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}